@font-face {
    font-family: 'Cera Pro';
    src: url('./font/CeraPro-Light.woff2');
    src: local('Cera Pro Light'), local('CeraPro-Light'),
        url('CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./font/CeraPro-Medium.woff2');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./font/CeraPro-Black.woff2');
    src: local('Cera Pro Black'), local('CeraPro-Black'),
        url('CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./font/CeraPro-Bold.woff2');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./font/CeraPro-Regular.woff2');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1220px;
    /* min-width: 990px; */
    margin: 0 auto;
    padding: 0 10px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.body {
    font-family: 'Cera Pro', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: auto;
    color: #3D3D3D;
}

.header {
    /* width: 100%; */
}

.navbar {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 15px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu > li {
    display: block;
    padding: 0 25px;
    position: relative;
}

.navbar-menu > li > a {
    color: black;
    opacity: 0.7;
    font-size: 16px;
    text-decoration: none;
    transition: filter 0.7s ease;
    position: relative;
}

.navbar-menu > li:hover > a {
    opacity: 1;
    text-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar-menu > li > a::after {
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -26px;
    height: 3px;
    background-color: #46A358;
    content: '';
    transition: width 0.3s ease;
}

.navbar-menu > li > a:hover::after {
    width: 100%;
}

.pop-up-window {
    display: none;
    background-color: #EDF6EE;
    padding: 0;
    position: absolute;
    list-style: none;
    top: 55px;
    left: 25px;
    width: 188px;
}

.pop-up-window::before{
    content: '';
    width: 100%;
    height: 45px;
    background-color: transparent;
    display: block;
    position: absolute;
    left: 0;
    top: -40px;
}

.pop-up-window > li{
    padding: 7px 14px;
    display: flex;
    align-items: center;
}

.pop-up-window > li > a{
    display: block;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    line-height: 100%;
    color: inherit;
}

.pop-up-window > li:hover{
    background-color: #1A712A;
    color: #FFFFFF;
    font-weight: 700;
}

.navbar-menu > li:hover .pop-up-window{
    display: block;
}

.arrow-right{
   display: block;
   margin-left: 89px;
   color: #3D3D3D;
}

.pop-up-window > li:hover .arrow-right{
    transform: rotate(180deg);
    color: #FFFFFF;
}

.pop-up-window-next{
    display: none;
    background-color: #EDF6EE;
    padding: 0;
    position: absolute;
    list-style: none;
    top: 0;
    right: -180px;
    width: 178px;
}

.pop-up-window-next > li{
    padding: 7px 14px;
}

.pop-up-window-next > li > a{
    display: block;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    line-height: 100%;
    color: #3D3D3D;
    font-weight: 400;
}

.pop-up-window > li:hover .pop-up-window-next{
    display: block;
}

.pop-up-window-next > li:hover{
    background-color: #1A712A;
}

.pop-up-window-next a:hover{
    color: #FFFFFF;
    font-weight: 700;
}

.btn-container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container .button-svg {
    border: none;
    background-color: transparent;
    margin: 0 15px;
    display: inline-block;
}

.button-svg .nav-icon {
    transition: filter 0.6s ease;
    cursor: pointer;
}

.button-svg:hover .nav-icon {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
    fill: black;
}

.basket-icon{
    position: relative;
}

.basket-count{
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 500;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    outline: #FFFFFF solid 2px;
    background-color: #46A358;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    right: -5px;
}

.btn-login {
    padding: 9px 18px;
    border: none;
    border-radius: 6px;
    background-color: #46A358;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-login span{
    font-size: 16px;
    padding-left: 5px;
    font-family: 'Cera Pro', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.first-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 43px;
    margin: 12px 0 12px 0;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}

.welcome-text {
    max-width: 580px;
    padding: 68px 0 85px 0;
}

.welcome-text h2 {
    color: #3D3D3D;
    font-weight: 500;
    margin-bottom: 7px;
    letter-spacing: 10%;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.welcome-text h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    color: #3D3D3D;
}

.welcome-text h1 span {
    color: #46A358;
}

.welcome-text p {
    font-size: 15px;
    color: #727272;
    line-height: 24px;
    margin-bottom: 32px;
    margin-top: 5px;
}

.btn-shop-now {
    background-color: #46A358;
    color: #FFFFFF;
    padding: 12px 27px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    transition: filter 0.3s ease;
}

.btn-shop-now:hover {
    background-color: #388e3c;
}

.welcome-figure img {
    max-width: 487px;
    width: 100%;
}

.choose-plants {
    display: flex;
    justify-content: space-between;
    margin: 34px 0 34px 0;
}

.container-for-selection {
    width: 25%;
    padding-right: 20px;
}

.content-selection {
    background-color: #FBFBFB;
    padding: 14px 22px 0 16px;
}

.headline-categories {
    font-size: 18px;
    font-weight: 700;
}

.list-categories {
    padding: 20px 0 40px 10px;
    list-style-type: none;
}

.list-categories li {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 22px;
}

.list-categories li a {
    text-decoration: none;
    color: #4E4C4C;
    transition: filter 0.7s ease;
    position: relative;
}

.list-categories li a:hover {
    color: #46A358;
}

.block-price-range {
    display: flex;
    flex-direction: column;
}

.container-price {
    padding: 20px 10px;
}

.container-price img {
    width: 80%;
}

.avarage-price {
    font-weight: 400;
    font-size: 15px;
    padding: 15px 0;
}

.avarage-price span {
    font-weight: 700;
    color: #46A358;
}

.btn-filer-click {
    background-color: #46A358;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 35px;
}

.btn-filer-click span {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 8px 29px;
}

.block-size-of-plants ul {
    list-style: none;
    padding: 10px 0 10px 10px;
}

.block-size-of-plants {
    padding-top: 26px;
}

.block-size-of-plants ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    font-size: 15px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-label input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #3D3D3D;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s;
}

.checkbox-label input[type="checkbox"]:checked::after {
    content: "";
    width: 6px;
    height: 10px;
    border: solid #4CAF50;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
}

.banner-sale img {
    max-width: 285px;
    width: 100%;
}

.all-plants {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding-bottom: 39px;  
    
}

.btn-filters {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3D3D3D;
    cursor: pointer;
}

.start {
    display: flex;
    justify-content: start; 
    flex-grow: 1;
}

.start span {
    transition: filter 0.7s ease;
    position: relative;
}

.start:hover span {
    color: #46A358;
}

.start span::after {
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -5px;
    height: 2px;
    background-color: #46A358;
    content: '';
    transition: width 0.3s ease;
}

.start span:hover::after {
    width: 100%;
}

.filters p {
    display: flex;
    justify-content: flex-end;
    flex-grow: 6;
    font-size: 15px;
    line-height: 16px;
    padding-right: 8px;
}

.arrow{
    display: flex;
    flex-grow: 0;
}

.container-for-plants {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.goods-item {
    width: 33.333%;
    padding: 0 10px 70px;
    display: block;
    text-decoration: none;
}

.goods-item-inset{
    position: relative;
}

.goods-item-inset::after {
    position: absolute;
    left: 0;
    width: 0%;
    top: 0;
    height: 1px;
    background-color: #46A358;
    content: '';
    transition: width 0.3s ease;
}

.goods-item-inset:hover::after {
    width: 100%;
}

.goods-item-pic {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
}

.goods-item-inset h3 {
    padding: 12px 0 5px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
}

.goods-item-inset p {
    font-size: 18px;
    color: #46A358;
    font-weight: 700;
}

.goods-item-inset .sale {
    color: #A5A5A5;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-decoration: line-through;
    padding-left: 17px;
}

.discount{
    padding: 8px;
    background-color: #46A358;
    color: #fff;
    font-size: 16px;
    top: 14px;
    left: 0; 
    position: absolute;
    text-transform: uppercase;
}

.btn-goods-item{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.goods-item:hover .btn-goods-item {
    opacity: 1;
}

.hvr-icon{
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 7px;
}

.icon{
    transition: color 0.2s;
    color: #3D3D3D;
    cursor: pointer;
}

.icon:hover{
    color:#46A358;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin: 56px 0 100px 0;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: #3D3D3D;
    transition: background 0.3s, color 0.3s;
}

.pagination a.active {
    background: #4caf50;
    color: white;
    border: none;
}

.pagination a:hover {
    background: #ddd;
}
