*{
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: Cera pro, sans-serif;
    font-weight: 400;
    color: #3D3D3D;
    background-color: #ffffff;
    height: 656px;
    display: flex; 
    justify-content: center;
    text-align: start;
    border-bottom: 10px solid #46A358;
}
.wrapper{
    padding: 52px 100px;
}
.logreg{
    display: flex;
    justify-content: center;
}
.logreg h1{
    font-weight: 500;
    padding-right: 15px;
    font-size: 20px;
}
.logreg h1:hover {
    color: #46A358;
}
.vertical-line{
    border-left: 1px solid #3D3D3D;
    height: 16px;
}
.logreg span{
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
}
.logreg span:hover{
    color: #46A358;
}
.registration-form{
    width: 100%;
}
.registration-form legend{
    margin-top: 40px;
    font-size: 13px;
}
.registration-form input{
    display: block;
    margin-top: 16px;
    width: 100%;
    height: 40px;  
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding-left: 14px;
}
.registration-form input::placeholder{
    color: #A5A5A5;
    font-size: 14px;
}
.btn-register{
    margin-top: 41px;
    width: 100%;
    height: 45px;
    background-color: #46A358;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.or-reg{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 26px 0 0;
}
.or-reg h2{
    padding: 0 10px;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 400;
}
.horizontal-line{
    flex: 1;
    height: 1px;
    background-color: #EAEAEA;
}
.social-btn{ 
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
    width: 300px;
    height: 40px;  
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: transparent; 
    color: #727272;
}
.social-btn .icon{
    size: 20px;
    margin: 10px;
}
.social-btn span{
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin: 12px 0;
}

