* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1220px;
    /* min-width: 990px; */
    margin: 0 auto;
    padding: 0 10px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.body {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: auto;
    color: #3D3D3D;
}

.header {
    width: 100%;
    /* height: 50px; */
}

.navbar {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 15px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}

.navbar-menu {
    list-style-type: none;
    font-family: 'Cera Pro', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu li {
    display: block;
    padding: 0 25px;
}

.navbar-menu li a {
    color: black;
    opacity: 0.7;
    font-size: 16px;
    text-decoration: none;
    transition: filter 0.7s ease;
    position: relative;
}

.navbar-menu li a:hover {
    opacity: 1;
    text-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar-menu li a::after {
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -25px;
    height: 3px;
    background-color: #46A358;
    content: '';
    transition: width 0.3s ease;
}

.navbar-menu li a:hover::after {
    width: 100%;
}

.btn_login span {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.btn_container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_container .button_svg {
    border: none;
    background-color: transparent;
    padding: 0 15px;
}

.button_svg .nav-icon {
    transition: filter 0.6s ease;
    cursor: pointer;
}

.button_svg:hover .nav-icon {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
    fill: black;
}

.btn_login {
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 6px;
    background-color: #46A358;
    cursor: pointer;
}

.first_view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 60px 40px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(245, 245, 245, 0.5);
}

.welcome_text {
    max-width: 580px;
}

.welcome_text h2 {
    color: #3D3D3D;
    font-weight: 500;
    margin-bottom: 7px;
    letter-spacing: 10%;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.welcome_text h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    color: #3D3D3D;
}

.welcome_text h1 span {
    color: #46A358;
}

.welcome_text p {
    font-family: 'Cera Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 24px;
    margin-bottom: 32px;
    margin-top: 5px;
}

.welcome_text a {
    background-color: #46A358;
    color: #fff;
    padding: 14px 32px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    transition: filter 0.3s ease;
}

.welcome_text a:hover {
    background-color: #388e3c;
}

.welcome_figure img {
    max-width: 487px;
    width: 100%;
}

.choose-plants {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.container-for-selection {
    width: 25%;
    padding-right: 20px;
}

.content-selection {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 22px 0 17px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.headline-categories {
    font-size: 18px;
    font-weight: 700;
}

.list-categories {
    padding: 20px 0 40px 10px;
    list-style-type: none;
}

.list-categories li {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 22px;
}

.list-categories li a {
    text-decoration: none;
    color: #4E4C4C;
    transition: filter 0.7s ease;
    position: relative;
}

.list-categories li a:hover {
    color: #46A358;
}

.block-price_range {
    display: flex;
    flex-direction: column;
}

.container-price {
    padding: 20px 10px;
}

.container-price img {
    width: 80%;
}

.avarage_price {
    font-weight: 400;
    font-size: 15px;
    padding: 15px 0;
}

.avarage_price span {
    font-weight: 700;
    color: #46A358;
}

.btn_filer_click {
    background-color: #46A358;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 35px;
}

.btn_filer_click span {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 8px 29px;
}

.block-size-of-plants ul {
    list-style: none;
    padding: 10px 0 10px 10px;
}

.block-size-of-plants {
    padding-top: 26px;
}

.block-size-of-plants ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    font-size: 15px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-label input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #3D3D3D;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s;
}

.checkbox-label input[type="checkbox"]:checked::after {
    content: "";
    width: 6px;
    height: 10px;
    border: solid #4CAF50;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
}

.banner_sale img {
    max-width: 285px;
    width: 100%;
}

.all-plants {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.filters {
    display: flex;
    justify-content: space-between;

}

.btn_filters {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 39px;
    cursor: pointer;
    flex-grow: 1;
}

.start span {
    transition: filter 0.7s ease;
    position: relative;
}

.start:hover span {
    color: #46A358;
}

.start span::after {
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -5px;
    height: 2px;
    background-color: #46A358;
    content: '';
    transition: width 0.3s ease;
}

.start span:hover::after {
    width: 100%;
}

.filters p {
    display: flex;
    justify-content: flex-end;
    flex-grow: 6;
    font-size: 15px;
    line-height: 16px;
}

.container-for-plants {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.goods-item {
    width: 33%;
    padding: 0 10px 70px;
    display: block;
    text-decoration: none;
    position: relative;
}

.goods-item::after {
    position: absolute;
    left: 0;
    width: 0%;
    top: 0;
    height: 1px;
    background-color: #46A358;
    content: '';
    transition: width 0.3s ease;
}

.goods-item:hover::after {
    width: 100%;
}

.goods-item-inset {
    height: 350px;
    padding: 2px;
}

.goods-item-pic {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods-item-inset h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.goods-item-inset p {
    font-size: 18px;
    color: #46A358;
    font-weight: 700;
    padding-top: 6px;
}

.goods-item-inset .sale {
    color: #A5A5A5;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-decoration: line-through;
    padding-left: 17px;
}

.pagination {
    display: flex;
    justify-content: end;
    gap: 8px;
}

.pagination button {
    width: 32px;
    height: 32px;
    border: 1px solid #E5E5E5;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Cera Pro', sans-serif;
    color: #3D3D3D;
    transition: background 0.3s, color 0.3s;
}

.pagination button.active {
    background: #4caf50;
    color: white;
    border: none;
}

.pagination button:hover {
    background: #ddd;
}