*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 0;
}

.body{
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: auto;
}

.header{
    width: 100%;
    height: 50px;
}

.navbar{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}

.navbar-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-family: 'Cera Pro', sans-serif;
}

.navbar-menu li{
    display: inline-block;  
    padding: 0 50px;
}

.navbar-menu li a{
    display: inline-block;
    color:black;
    opacity: 0.7;
    font-size: 16px;
    text-decoration: none;
    transition: filter 0.7s ease;
    position: relative;
}

.navbar-menu li a:hover{
    opacity: 1;
    text-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar-menu li a::after{
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -25px;
    height: 3px;
    background-color: #46A358;
    content: '';
    transition: width 0.3s ease;
}

.navbar-menu li a:hover::after{
    width: 100%;
}

.btn_login span{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.btn_container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_container .button_svg{
    border: none;
    background-color: transparent;
    padding: 0 15px;
}

.button_svg .nav-icon{
    transition: filter 0.6s ease;
    cursor: pointer;
}

.button_svg:hover .nav-icon {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
    fill:black;
}

.btn_login{
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 6px;
    background-color: #46A358;
}
.first_view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 60px 40px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(245, 245, 245, 0.5);
}
  
.welcome_text {
    max-width: 580px;
}
  
.welcome_text h2 {
    color: #3D3D3D;
    font-weight: 500;
    margin-bottom: 7px;
    letter-spacing: 10%;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
  
.welcome_text h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    color: #3D3D3D;
}
  
.welcome_text h1 span {
    color: #46A358; 
}
  
.welcome_text p {
    font-family: 'Cera Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 24px;
    margin-bottom: 32px;
    margin-top: 5px;
}
.welcome_text a {
    background-color: #46A358;
    color: #fff;
    padding: 14px 32px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    transition: filter 0.3s ease;
}

.welcome_text a:hover {
    background-color: #388e3c;
}

.welcome_figure img {
    max-width: 487px;
    width: 100%;
  }