* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader{
    display: inline-flex;
    position: absolute;
    animation-name: loader;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}